<h1>Artists</h1>
<div class="search">
<%= form_tag artists_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by Artist" %>
    <%= submit_tag "Search" %>
<% end %>
</div>

<div class="button search">
<%= button_to "Sort by popularity", sort_artists_path, method: :patch, params: {sort: "popularity", query: @query} %>
<%= button_to "Sort by name (A-Z)", sort_artists_path, method: :patch, params: {sort: "a-z", query: @query} %>
<%= button_to "Sort by name (Z-A)", sort_artists_path, method: :patch, params: {sort: "z-a", query: @query} %>
</div>

<br>

<div class="artist_grid">
<% @artists.each do |artist| %>
    <div> <a href= <%="/artists/#{artist.id}"%>> <img src="<%=artist.image%>" alt="<%=artist.name%>" style="width:300px;height:300px;"></a>
    <p><%= link_to artist.name, artist %></p> </div>
<% end %>
</div>

