<h1>Artists</h1>
<%= form_tag artists_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by Artist" %>
    <%= submit_tag "Search" %>
<% end %>

<%= button_to "Sort by popularity", sort_artists_path, method: :patch, params: {sort: "popularity", query: @query} %>
<%= button_to "Sort by name (A-Z)", sort_artists_path, method: :patch, params: {sort: "a-z", query: @query} %>
<%= button_to "Sort by name (Z-A)", sort_artists_path, method: :patch, params: {sort: "z-a", query: @query} %>

<% @artists.each do |artist| %>
    <p><%= link_to artist.name, artist %></p>
<% end %>

