<h1><%= @artist.name %></h1>

<div class="img">
<img src="<%=@artist.image%>" alt="<%=@artist.name%>" style="width:300px;height:300px;">

<div id="pad">
<h3>Songs: <%= @songs.count %></h3>
<ul>
    <% @songs.each do |song| %>
        <li><%= link_to song.title, song %></li>
    <% end %>
</ul>
</div>
</div>
