<h1><%= @artist.name %></h1>
<br>
<div id="artist-show">
    <img src="<%=@artist.image%>" alt="<%=@artist.name%>" style="width:300px;height:300px;">
    <br><br>
    <!--<div id="pad">
    <h3>Songs: <%= @songs.count %></h3>-->
    <% @songs.each do |song| %>
        <p><%= link_to song.title, song %></p>
    <% end %>
    <!--</div>-->
</div>
