<h1> All Playlists </h1>

<table>
    <tr>
        <th>Playlist</th>
        <th>User</th>
        <th></th>
    </tr>
    <% @playlists.each do |p| %>
        <tr class="playlist-text">
            <td><%= link_to p.name, p %></td>
            <td><%= p.user.username %></td>
            <td>
                <% if p.user != current_user %>
                    <% favorite = current_user.favorites.find {|fav| fav.playlist == p} %>
                    <% if favorite %>
                        <%= button_to "Unfavorite", favorite, method: :delete %>
                    <% else %>
                        <%= button_to "Favorite", favorites_path, method: :post, params: {playlist_id: p.id} %>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<%= button_to "Create a Playlist", new_playlist_path, method: :get %>