<h1><%= @playlist.name %></h1>

<p>Songs: <%= @songs.count %></p>
<ol><% @songs.each do |song| %> 
    <li>
        <%= link_to song.title, song %> - <%= song.artist.name %>
        <% if @playlist.user == current_user %>
            <%= button_to "Delete", PlaylistSong.find_by(song_id: song.id, playlist_id: @playlist.id), method: :delete, params: {playlist_id: @playlist.id} %>
        <% end %>
    </li>
<% end %>
</ol>

<%= button_to "Add Songs", songs_path, method: :get, params: {playlist_id: @playlist.id} %>
<% if @playlist.user == current_user %>
    <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %>
    <%= button_to "Delete Playlist", playlist_path(@playlist), method: :delete, data: {confirm: "Are you sure you want to delete this playlist?"} %>
<% end %>
<%= button_to "Show All Playlists", playlists_path, method: :get %>
